@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    font-family: Avenir, Nunito Sans, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    background-color: #fcfcfc;
    @apply text-black-900;
  }
  
  h1 {
    @apply text-2xl;
  }
  
  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-2xl;

  }

  p, li {

    @apply text-base md:text-sm;
  }

  
  h1, h2, h3, h4, h5, h6, hr, figure, p {
    line-height: 1.7;
  }

}

